<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #auctionForm="ngForm">

            <div class="form-group">
                <label for="reservePrice">Reserve Price</label>
                <input type="text" [(ngModel)]="auction.reservePrice"
                       class="form-control"
                       id="reservePrice"
                       name="reservePrice"
                       placeholder="Enter Reserve Price"
                       required #reservePrice="ngModel">
            </div>
            <div [hidden]="auction.reservePrice" class="alert alert-danger">Reserve Price is Required</div>

            <div class="form-group">
                <label for="itemId">Item Id</label>
                <input type="text" [(ngModel)]="auction.item.itemId"
                       class="form-control"
                       id="itemId"
                       name="itemId"
                       placeholder="Enter Item Identification"
                       required #item.itemId="ngModel">
            </div>
            <div [hidden]="auction.item.itemId" class="alert alert-danger">Item Identification is Required</div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" [(ngModel)]="auction.item.description"
                       class="form-control"
                       id="description"
                       name="description"
                       placeholder="Enter Item Description"
                       required #item.description="ngModel">
            </div>
            <div [hidden]="auction.item.description" class="alert alert-danger">Item Description is Required</div>

            <button type="submit"
                    [disabled]="!auctionForm.form.valid"
                    class="btn btn-info">Submit</button>
        </form>
    </div>
</div>
