<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark my-5">
                <div class="card-body">
                    <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
                    <ul class="text-center list-inline py-3">
                        <li class="list-inline-item">
                            <a routerLink="/show-auctions" class="btn btn-info">List Auction Items</a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/new-auction" class="btn btn-info">Add Auction Item</a>
                        </li>
                    </ul>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>